<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정화면</title>
</head>
<body>
<form th:action="@{|/update/${board.id}|}" method="post" name="updateForm">
    id : <h4 th:text="${board.id}"></h4>
    제목 : <input type="text" name="boardTitle" th:value="${board.boardTitle}"><br>
    내용 : <input type="text" name="boardContent" th:value="${board.boardContent}"><br>
    <input type="button" value="수정하기" onclick="board_update()">
</form>
</body>
<script th:inline="javascript">
    const board_update = () => {
        updateForm.submit();
    }
</script>
</html>